<!DOCTYPE html>

<html>
<head>
    <title>Page Title</title>
    
    <script></script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"
			  integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="
			  crossorigin="anonymous">
    </script>
    <script>
        $(document).ready(function(){
            $('#get').on('click', function(){
                $.ajax('/test?id=1').
                done(function(d){console.log(d);}).
                fail(function(e){console.log(e.statusText);});
            });
        });
    </script>
</head>

<body>

    <p id='info'>TesT</p>
    <button id='get'>get msg</button>
</body>
</html>
